.more {
    display: flex;
    justify-content: space-between;
}
.upvoteValue {
    margin-left: 4px;
    background: #C4C4C4;
    border-radius: 119px;
    padding: 5px;
}
.iconWrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

