
@import "./Variables.css";
.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    background: var(--primary-light);
    
}

.form {
    padding: 1rem ;
    width: 40%;
    min-height: 40vh;
    border-radius: 4px ;
    margin: auto;
    max-height:60vh ;
    background: white;
}



.form h2 {
    text-align:center
}

.btn {
    padding: 10px 18px;
    border: none;
    outline:none;
    color: white;
    font-weight: 500;
    background: #195FAA;
    border-radius: 4px;
}


.forgotForm {
    width: 40%;
}
@media screen and (max-width: 800px) {
    .form {
        width: 70%;
    }
}
@media screen and (max-width:420px) {
    .form {
        width:90%;
        padding: 1.5rem;
    }

    .forgotForm {
        width: 90%;
    }

    .logo   {
        display: grid;
        place-items: center;
    }
}

