@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Ropa+Sans&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  padding: 3rem 19rem 0 19rem;
  min-height: 100vh;
  width: 100%;
  background: #e5e5e5;
  /* border: 1px solid tomato; */
}
