.wrapper {
  height: 100vh;
  overflow-y: scroll;
}

.gridItems {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  gap: 1.5rem;
}
.footer {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 800px) {
    .gridItems {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
      }
}