@import "./Variables.css";

.header_container {
  height: 94px;
  background: var(--primary-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 21px 24px 20px;
}
.ham {
  display: none;
}
.link {
  color: #fff;
  padding: 26.5px 36px;
  font-weight: 500;
  line-height: 15px;
  background: var(--primary-light);
  border-bottom: 1px solid gray;
}
.activeLink {
  color: var(--primary-light);
  padding: 26.5px 36px;
  font-weight: 600;
  line-height: 15px;
  background: #fff;
  border-bottom: 1px solid gray;
}
.wrapper {
  background: var(--primary-light);
  height: 100%;
  width: 100%;
}
.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
}

.layout_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-column: 1 / span 12;
  grid-row: 1/ 2;
}

.layout_sidebar {
  position: fixed;
  top: 6rem;
  bottom: 0;
  width: 25%;
  grid-column: 1 / span 3;
  grid-row: 2 / span 12;
}

.layout_main {
  grid-column: 4 / span 9;
  grid-row: 1 / span 12;
  padding:  0 78px 0 25px;
  margin-top: 15%;
}
.user_wrapper {
  display: flex;
  gap: 5px;
  color: white;
}

.user_wrapper i {
  font-size: 20px;
}
.user_wrapper p {
  font-size: 15.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.smallSidebar {
  display: none;
}
@media screen and (min-width:600px){
  .layout_main {
    margin-top: 22%;
  }
}
@media screen and (min-width:800px){
  .layout_main {
    margin-top: 17%;
  }
}
@media screen and (min-width:1200px){
  .layout_main {
    margin-top: 10%;
  }
}
@media screen and (max-width: 600px){
  .layout_sidebar {
    display: none;
  }
  
  .layout_main {
    grid-column: 1 / span 12;
    padding: 15% 10px;
    overflow: scroll;
    margin-top: 20%;

  }
  .admin_container {
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
  }

  .ham {
    display: flex;
    align-items: center;
    justify-content:center;
  }

  .smallSidebar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items:center;
    position: absolute;
    top: 0;
    /* left: 0; */
    min-height: 100vh;
    width: 80%;
    background: var(--primary);
    padding: 20px;
    transition: left .5s ease; 
  }
}
/* **************************admin**************** */
.admin_container {
  /* width: 100%; */
  /* height:  100vh;
  overflow-y: scroll; */
  margin: auto;
  /* border: 1px solid red; */
}
.admin_btn {
  /* background: rgba(51, 67, 210, 1); */
  background: var(--primary);
  color: white;
  font-size: 16px;
  border-radius: 9px;
  padding: 8px 10px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}
.admin_false,
.admin_true {
  color: rgba(51, 67, 210, 1);
  color: var(--primary);
  background: #eee;
  font-size: 16px;
  border-radius: 9px;
  padding: 8px 10px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.admin_title {
  margin: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: rgba(91, 91, 91, 1);
  font-size: 36px;
  font-weight: 700;
  font-family: "montserrat", sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form_group {
  display: flex;
  flex-direction: column;
}

.form_input,
.form_select, 
.desc_input{
  border-radius: 9px;
  border: 0.8px solid rgba(16, 16, 16, 0.65);;
  outline: none;
  padding: 17px 12px;
}
.desc_input {
    padding: 25px 12px;
}

.searchbar{
  padding: 10px 12px;
  outline: none;
  border-radius:20px;
  border:1px solid lightgrey;
}
/* ***********************TABLE************************** */
.table {
  min-width: 100%;
  text-align: center;
  border-collapse: collapse;

}

.table .thead_row th,
.table tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 15px 5px;
  font-weight: 600;
  font-size: clamp(13px, 2vw, 16px);
}



.action button {
  font-weight: 600;
  font-size: clamp(13px, 2vw, 18px);
  line-height: 22px;
  border: none;
  outline: none;
  background-color: white;
}

@supports not (font-size: clamp(15px, 5vw, 34px)){

  .table tbody tr td {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 15px 5px;
    font-weight: 600;
    font-size: 14.5px;
  }

  .action button {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: white;
  }
}
.post_edit {
  color: rgba(25, 121, 10, 1);
}
.post_remove {
  color: rgba(227, 26, 26, 1);
}
.post_publish {
  color: rgba(16, 55, 154, 1);
}

.submit {
  width: 100%;
  padding: 12px 8px;
  border: none;
  outline: none;
  border-radius: 7px;
  background: rgba(51, 67, 210, 1);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.submit:hover {
  background: rgba(25, 121, 10, 1);
}
